OWNER_NAME="Rhodvick Tech"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "YLLEK-MD"
IMAGE_MENU= "https://telegra.ph/file/25b60ba1474cffb21969c.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Rhodvick Tech᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
